::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: rgb(230, 212, 212);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 186, 186);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 186, 186);
  }